@model IList<HomeAccountingMVC.Entities.Account>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.ID</td>
                <td>@account.Firstname</td>
                <td>@account.Username</td>
                <td>@account.Password</td>
                <td>@account.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Accounting" asp-action="Update" asp-route-id="@account.ID">Edit</a>
                </td>
                @* o'xshamadi *@
                @* <td>
                    <a type="submit" class="btn btn-danger" asp-controller="Accounting"
                       asp-action="Delete" asp-route-id="@account.ID">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>